In [3]:
import pandas as pd
import numpy as np
import seaborn as sns

import matplotlib.pyplot as plt

plt.style.use("seaborn-v0_8-darkgrid")
plt.rcParams["figure.figsize"] = (12, 9)
plt.rcParams["font.family"] = "DejaVu Sans"

from sklearn.metrics import log_loss
from sklearn.cluster import AgglomerativeClustering, KMeans, SpectralClustering
from sklearn.decomposition import PCA
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import StandardScaler

RANDOM_STATE = 42

In [4]:
PATH = '/Users/nikolaj/Downloads/'

In [8]:
heart_disease = pd.read_csv(PATH + 'heart_disease.csv', index_col='id')

In [26]:
heart_disease.head()

    age     sex    dataset  ...        slope   ca               thal
id                          ...
0    63    Male  Cleveland  ...  downsloping  0.0       fixed defect
1    67    Male  Cleveland  ...         flat  3.0             normal
2    67    Male  Cleveland  ...         flat  2.0  reversable defect
3    37    Male  Cleveland  ...  downsloping  0.0             normal
4    41  Female  Cleveland  ...    upsloping  0.0             normal

[5 rows x 14 columns]

In [22]:
sample = pd.read_csv(PATH + 'sample.csv')

In [28]:
heart_disease.head()

    age     sex    dataset  ...        slope   ca               thal
id                          ...
0    63    Male  Cleveland  ...  downsloping  0.0       fixed defect
1    67    Male  Cleveland  ...         flat  3.0             normal
2    67    Male  Cleveland  ...         flat  2.0  reversable defect
3    37    Male  Cleveland  ...  downsloping  0.0             normal
4    41  Female  Cleveland  ...    upsloping  0.0             normal

[5 rows x 14 columns]

In [27]:
heart_disease.info()

<class 'pandas.core.frame.DataFrame'>
Index: 920 entries, 0 to 919
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       920 non-null    int64
 1   sex       920 non-null    object
 2   dataset   920 non-null    object
 3   cp        920 non-null    object
 4   trestbps  861 non-null    float64
 5   chol      890 non-null    float64
 6   fbs       830 non-null    object
 7   restecg   918 non-null    object
 8   thalch    865 non-null    float64
 9   exang     865 non-null    object
 10  oldpeak   858 non-null    float64
 11  slope     611 non-null    object
 12  ca        309 non-null    float64
 13  thal      434 non-null    object
dtypes: float64(5), int64(1), object(8)
memory usage: 107.8+ KB

How to deal with NAs
trestbps - mean
chol - mean
fbs - 
restecg - moda
thalch - mean
exang - 
oldpeak - mean
slope - moda
ca - 
thal -

In [35]:
for col in ['trestbps', 'chol', 'thalch', 'oldpeak']:
    heart_disease.fillna({col: heart_disease[col].mean()}, inplace=True)

In [36]:
heart_disease.info()

<class 'pandas.core.frame.DataFrame'>
Index: 920 entries, 0 to 919
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       920 non-null    int64
 1   sex       920 non-null    object
 2   dataset   920 non-null    object
 3   cp        920 non-null    object
 4   trestbps  920 non-null    float64
 5   chol      920 non-null    float64
 6   fbs       830 non-null    object
 7   restecg   918 non-null    object
 8   thalch    920 non-null    float64
 9   exang     865 non-null    object
 10  oldpeak   920 non-null    float64
 11  slope     611 non-null    object
 12  ca        309 non-null    float64
 13  thal      434 non-null    object
dtypes: float64(5), int64(1), object(8)
memory usage: 107.8+ KB